In [1]:
#1.) 
import pandas as pd

In [3]:
data = [4,8,15,16,23,42]
series = pd.Series(data)

In [4]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
#2.) 
data = [0,1,2,3,4,5,6,7,8,9]
print(pd.Series(data))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [9]:
#3.)
data={'Name':['Alice','Bob','Claire'],
      'Age':[25,30,27],
      'Gender':['Female','Male','Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [14]:
#4.) """In pandas DataFrame is a Group of data arranged in rows and columns just like all those sql and other db's....where each column is a pandas series
Whereas series is a single column of consisting of data's"""

data={'Name':['Alice','Bob','Claire'],
      'Age':[25,30,27],
      'Gender':['Female','Male','Female']}
df = pd.DataFrame(data)

series = df['Age']

print(df)

print(':')

print(series)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
:
0    25
1    30
2    27
Name: Age, dtype: int64

In [15]:
#5.)Some functons used in pandas are head(), tail(),to_csv()....etc

# ex:- Lets say when i want to store the data i have read from a website then i use .to_csv() or to_excel() functions to store the recieved data in csv or excel format...

In [16]:
#6.) Among the three only DataFrame is mutable rest two are immutable

In [17]:
#7.)
Name = pd.Series(['Alice','Bob','Claire'])
Age = pd.Series([25,30,27])

In [18]:
data = {'Name' :Name, 'Age':Age}
df = pd.DataFrame(data)

In [19]:
print(df)

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27